<dl class="d-flex justify-content-between">
    <dt class="group-description-wrapper">
        <h3>{{currentGroupData?.name}}</h3>
        <h5>{{currentGroupData?.description}}</h5>
    </dt>
    <dd>
        <button type="button" class="btn btn-primary"
            (click)="openAddTodoModal(content)">
            <fa-icon [icon]="faPlus"></fa-icon> Add new ToDo
        </button>
    </dd>
</dl>
<hr>
<section class="d-flex gap-1 ">
    <article class="w-50" *ngFor="let listItems of currentGroupData?.lists">
        <header class="card mb-3">
            <div class="d-flex justify-content-center p-2" [ngStyle]="{'background-color': listItems.color}">
                <h3>{{listItems.name}}</h3>
            </div>
        </header>
        <dl class="card mb-2" *ngFor="let card of listItems.cards">
            <header class="card-header">
                <dt class="d-flex justify-content-between">
                    <span>
                        <strong>Name: </strong>{{card.name}}
                    </span>
                    <span>
                        <div ngbDropdown class="d-inline-block">
                            <span
                                style="padding: 10px; cursor: pointer;"
                                id="dropdownBasic1" ngbDropdownToggle>
                                <fa-icon [icon]="faEllipsisV"></fa-icon>
                            </span>
                            <div ngbDropdownMenu
                                style="min-width: 100px;"
                                aria-labelledby="dropdownBasic1">
                                <button ngbDropdownItem>
                                    <span (click)="deleteCard(card, listItems)"
                                        style="cursor: pointer;">
                                        <fa-icon [icon]="faTrash"></fa-icon>
                                        Delete
                                    </span>
                                </button>
                            </div>
                        </div>
                    </span>
                </dt>
            </header>
            <main class="card-body" (click)="expandCard(card)">
                <small><strong>Due date: </strong>{{card.dueDate}}</small>
                <br>
                <span *ngIf="card.isExpanded">
                    <small><strong>Description: </strong>{{card.description}}</small>
                </span>
            </main>
            <footer class="card-footer">
                <button
                    class="d-flex justify-content-end border-0 background-transparent float-end"
                    style="padding: 5px; cursor: pointer;"
                    *ngIf="listItems.name === 'To Do'">
                    <span class="custom-button"
                        (click)="startProgress(card)" title="Start progress">
                        <fa-icon [icon]="faPlay"></fa-icon>
                    </span>
                </button>
                <button
                    class="d-flex justify-content-end border-0 background-transparent float-end"
                    style="padding: 5px; cursor: pointer;"
                    *ngIf="listItems.name === 'In Progress'">
                    <span class="custom-button"
                        (click)="completeProgress(card)" title="Finish">
                        <fa-icon [icon]="faCheck"></fa-icon>                    </span>
                </button>
                <button
                    class="d-flex justify-content-end border-0 background-transparent float-end"
                    style="padding: 5px; cursor: pointer;"
                    *ngIf="listItems.name === 'Done'">
                    <span
                        (click)="completeProgress(card)" title="Finish">
                        <fa-icon [icon]="faCheck"></fa-icon>
                    </span>
                </button>
            </footer>
        </dl>
    </article>
</section>

<ng-template #content let-modal>
    <header class="modal-header">
        <h4 class="modal-title">Create Todo</h4>
        <button type="button" class="btn-close" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
    </header>
    <form [formGroup]="todoForm" (submit)="createTodo()">
        <div class="modal-body">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" formControlName="name"
                    name="name"
                    class="form-control" required>
                <app-form-control-error-handler [control]="name"></app-form-control-error-handler>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea id="description" formControlName="description"
                    class="form-control" required></textarea>
                <app-form-control-error-handler [control]="description"></app-form-control-error-handler>
            </div>
            <div class="form-group">
                <label for="dueDate">Due Date:</label>
                <input type="date" id="dueDate" formControlName="dueDate"
                    class="form-control" required>
                <app-form-control-error-handler [control]="dueDate"></app-form-control-error-handler>

            </div>
        </div>
        <footer class="modal-footer">
            <button type="submit" class="btn btn-primary">Create Todo</button>
        </footer>
    </form>
</ng-template>
