<div class="d-flex justify-content-between">
    <div class="group-description-wrapper">
        <h3>{{currentBoardData?.name}}</h3>
        <h5>{{currentBoardData?.description}}</h5>
    </div>
    <div>
        <button type="button" class="btn btn-primary"
            (click)="openAddTodoModal(content)">
            <fa-icon [icon]="faPlus"></fa-icon> Add new ToDo
        </button>
    </div>
</div>
<hr>
<div class="d-flex gap-1 ">
    <div class="w-50" *ngFor="let listItems of currentBoardData?.lists">
        <div class="card mb-3">
            <div class="d-flex justify-content-center p-2">
                <h3>{{listItems.name}}</h3>
            </div>
        </div>
        <div class="card mb-2" *ngFor="let card of listItems.cards">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <span>
                        <strong>Name: </strong>{{card.name}}
                    </span>
                    <span>
                        <div ngbDropdown class="d-inline-block">
                            <span
                                style="padding: 10px; cursor: pointer;"
                                id="dropdownBasic1" ngbDropdownToggle>
                                <fa-icon [icon]="faEllipsisV"></fa-icon>
                            </span>
                            <div ngbDropdownMenu
                                style="min-width: 100px;"
                                aria-labelledby="dropdownBasic1">
                                <button ngbDropdownItem>
                                    <span (click)="deleteCard(card, listItems)"
                                        style="cursor: pointer;">
                                        <fa-icon [icon]="faTrash"></fa-icon>
                                        Delete
                                    </span>
                                </button>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
            <div class="card-body" (click)="expandCard(card)">
                <div>
                    <small><strong>Due date: </strong>{{card.dueDate}}</small>
                    <br>
                    <span *ngIf="card.isExpanded">
                        <small><strong>Description: </strong>{{card.description}}</small>
                    </span>
                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-end"
                    style="padding: 5px; cursor: pointer;"
                    *ngIf="listItems.name === 'To Do'">
                    <div class
                        (click)="startProgress(card)" title="Start progress">
                        <fa-icon [icon]="faPlay"></fa-icon>
                    </div>
                </div>
                <div class="d-flex justify-content-end"
                    style="padding: 5px; cursor: pointer;"
                    *ngIf="listItems.name === 'In Progress'">
                    <div class
                        (click)="completeProgress(card)" title="Finish">
                        <fa-icon [icon]="faCheck"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <header class="modal-header">
        <h4 class="modal-title">Create Todo</h4>
        <button type="button" class="btn-close" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
    </header>
    <form [formGroup]="todoForm" (submit)="createTodo(); modal.dismiss()">
        <div class="modal-body">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" formControlName="name"
                    class="form-control" required>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea id="description" formControlName="description"
                    class="form-control" required></textarea>
            </div>
            <div class="form-group">
                <label for="dueDate">Due Date:</label>
                <input type="date" id="dueDate" formControlName="dueDate"
                    class="form-control" required>
            </div>
        </div>
        <footer class="modal-footer">
            <button type="submit" class="btn btn-primary">Create Todo</button>
        </footer>
    </form>
</ng-template>
