#dropdownBasic1 {
    &:after {
        display: none;
    }
}

.card-footer {
    .custom-button {
        padding: 5px 10px;
        border: 1px solid #faaf18;
        border-radius: 5px;
        fa-icon {
            color: #faaf18;
        }
    }
}

.background-transparent {
    background-color: transparent !important;
}