.side-menu-wrapper {
    border: 1px solid #ebebeb;
    padding: 20px;

    .custom-list-group-item {
        border-bottom: 1px solid #ebebeb;
        padding: 10px;
        margin-bottom: 10px;
    }
}

.custom-badges-wrapper {
    fa-icon {
        font-size: 2rem;
    }

    .badge {
        top: 0;
        right: -15px;
    }
}